/* css nav */
.shadow-layer{
  position: fixed;
  min-height: 100%;
  width: 100%;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
}
.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
  padding: 0;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #e0e6ef;
  -webkit-tap-highlight-color: transparent;
}
.nav > li.active a{
  color:#F7972B;
}
.nav > li > a {
  position: relative;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
}
.navbar {
  position: relative;
}
.top-header{
  height: 52px;
  /* background: #DEDDDD; */
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
.header-socials {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.header-socials .social-item {
  width: 28px;
  height: 28px;
  margin: 12px 0px 12px 15px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}
.header-socials .social-item i {
  margin: auto;
}
.social-item.facebook {
  background: #365899;
}
.social-item.gplus {
  background: #DE5949;
}
.social-item.youtube {
  background: #F1321B;
}
.social-item.hotline {
  width: auto;
  background: #333;
  padding: 0 5px;
  position: absolute;
  right: 15px;
}
.header-menu{
  position: fixed;
  display: block;
  width: 80%;
  height: 100%;
	background: #EEEDED;
  border-top: 1px solid #e6e1e1;
  border-right: 1px solid #e6e1e1;
  border-bottom: 1px solid #eaeaea;
  transition: left 0.2s ease-in-out;
}
.header-menu.collapse{
  left: -80%;
}
.header-menu.toggle{
  left: 0;
  z-index: 3;
}
/* Css top header */
.navbar-toggle {
  position: relative;
  padding: 9px 10px;
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-tap-highlight-color: transparent;
}
.navbar-toggle .icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #888;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

/*
* css logo and banner
*/
.logo-banner {
  height: 118px;
  /* background: #DEDDDD; */
}
.logo-banner .logo {
  width: 162px;
  height: 88px;
  margin: 15px 0;
  display: inline-block;
}
.logo-banner .logo .logo-image {
  display: block;
  width: 100%;
  height: 100%;
  background: url('./images/logo.png');
}


@media (min-width: 768px) {
  .top-header {
    height: 36px;
  }
  .header-socials .social-item {
    margin: 4px 0 4px 10px;
    display: inline-flex;
  }
  .navbar-toggle{
    display: none;
  }
  .header-menu{
    width: 100%;
    position: relative;
  }
  .header-menu.collapse{
    left: -1px;
  }
  .header-menu .navbar{
    height: 42px;
    line-height: 42px;
  }
  .nav > li {
    height: 42px;
    display: inline-block;
    border: 0;
  }
  .nav > li.active{
    background: #fff;
  }
  .logo-banner .banner-top {
    display: inline-block;
    vertical-align: top;
  }
  .banner-top .banner-item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner-top i {
    color: #909090;
    height: 88px;
    margin: 15px;
    display: inline-flex;
    align-items: center;
    font-size: 2.5em;
  }
  .banner-top .text-inline {
    display: inline-block;
  }
  .banner-top .text-inline label {
    margin: 0;
    height: 22px;
    line-height: 22px;
  }
  .cart i {
    margin: 0;
    height: auto;
    font-size: 1.8em;
    margin-left: -6px;
    background: #fff;
    color: #909090;
  }
  .cart.pull-right {
    position: absolute;
    right: 0;
    width: 128px;
    height: 28px;
    margin-top: 45px;
  }
  
  .cart:hover i, .cart:hover span {
    color: #f6762a;
  }
  .cart .cart-items {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #909090;
    margin-left: 8px;
  }
  .cart .count-items {
    width: 26px;
    height: 26px;
    display: inline-block;
    border-radius: 50%;
    background: #EEEDED;
    margin-left: 5px;
    color: #909090;
    margin: 0px 0 0px 2px;
    line-height: 26px;
    vertical-align: top;
    text-align: center;
  }
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {

}